<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Viking's Heaven</title>
</head>
<body>

  <h1>The Valkerys welcome you to {{title}}</h1>

  <mat-chip-list>
    <mat-chip><a routerLink="/dashboard">Dashboard</a></mat-chip>
    <mat-chip><a routerLink="/heroes">Heroes</a></mat-chip>
  </mat-chip-list>

  <router-outlet></router-outlet>

  <app-messages></app-messages>

</body>
</html>

<!--

<mat-chip-list>
  <mat-chip><a routerLink="/dashboard">Dashboard</a></mat-chip>
  <mat-chip><a routerLink="/heroes">Heroes</a></mat-chip>
</mat-chip-list>


-->
